@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Roboto:wght@400;500&display=swap');

* {
  border: none;
  margin: 0;
  padding: 0;
  
}

body {
  color: #afb6c2;
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  overflow: hidden;
  width: 100vw;
}
