.form {
  background-color:  #24221f;;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 20% 10% ;
  padding: 10% 20%;
}

@media (max-width: 768px)
{
  .form {
    background-color: #191816;
    padding: 0 0 100px;
  }
}